@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

.textShadow{
    text-shadow: rgb(209, 209, 209) 5px 5px 10px;
}
.parallax{
    background: url("../img/2.jpg") repeat fixed 100%;
}
.title{
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    padding-bottom: 25px;
}
.nav-link{
    font-size: 100%;
    transition: .2s;
}
.nav-link:hover{
    font-size: 150%;
}

.toInvi{
    transition: .4s;
}
.toInvi:hover{
    cursor: none;
    color:rgba(0, 0, 0, 0);
}



.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

 .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}
#eyeContainer{
    position: relative;
    width: 575px;
    height: 381px;
    margin-bottom: 20vh
}
.eye{
  position: absolute;
  top:0px;
  width:90%;

}

.img-zoom{
  transform: scale(100%);
  transition: 1s;
}
.img-zoom:hover{
  transform: scale(150%);

}


/* Image animation */

.PicCard{
    width: 500px;
    height: 300px;
    background-color: rgb(12, 12, 12);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin:10% auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.PicCard span{
  height: 100%;
  left:0;
  position: absolute;
  transition: 1s;
}
.PicCard:nth-child(1) span{
  background: url("../img/logo1.jpg");
}
.PicCard:nth-child(2) span{
  background: url("../img/logo2.png");
}
.PicCard:nth-child(3) span{
  background: url("../img/logo3.jpg");
}
.PicCard:nth-child(4) span{
  background: url("../img/logo4.jpg");
}
.PicCard span:nth-child(1){
  z-index: 10;
  width: 25%;
  transition-delay: 0s;
}
.PicCard span:nth-child(2){
  z-index: 9;
  width: 50%;
  transition-delay: .2s;
}
.PicCard span:nth-child(3){
  z-index: 8;
  width: 75%;
  transition-delay: .4s;
}
.PicCard span:nth-child(4){
  z-index: 7;
  width: 100%;
  transition-delay: .6s;

}
.PicCard:hover span{
  transform: translateY(-100%);
  transition: .5s;
}
.PicCard:hover span:nth-child(1){
  transition-delay: 0.3s;
}
.PicCard:hover span:nth-child(2){
  transition-delay: 0.2s;
}
.PicCard:hover span:nth-child(3){
  transition-delay: 0.1s;
}
.PicCard:hover span:nth-child(4){
  transition-delay: 0s;
}

.content{
  color: #fff;
  text-align: center;
  padding: 80px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: 1s;
}
.content p{
  color: #999;
}
.PicCard:hover .content{
  transform: translateY(0%);
}
/* Phone Parts */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}